.post-comments {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    max-height: 12.68em;
    box-sizing: content-box;
    padding-left: .5em;
    width: 100%;
    
    .filler-block {
        height: 2em;
    }
    
}
.loading {
    opacity: 0;
}
.done-loading {
    opacity: 1;
    transition: all .3s ease-in;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}