@import url("https://fonts.googleapis.com/css?family=Antic+Slab&display=swap");
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

@mixin flex-centered($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: center;
}

.profile-box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    @include flex-centered(column);
    // border-radius: .3em;
    border: 1px solid rgba(255, 255, 255, 0.199);

    .profile-box__three-dots {
        position: absolute;
        z-index: 3;
        top: 0.5em;
        right: 0.4em;
        cursor: pointer;
        @include flex-centered(row);

        .dot {
            position: relative;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.678);
            margin-left: 2px;
        }
    }
    .profile-box__drop-options {
        position: absolute;
        z-index: 5;
        top: 1.1em;
        right: 0.5em;
        padding: 0.2em;
        border-radius: 0.2em;
        background-color: rgb(10, 10, 10);
        cursor: pointer;

        .drop-options__log-out {
            cursor: pointer;
            position: relative;
            width: 9em;
            height: 2em;
            font-size: 0.7em;
            letter-spacing: 0.1em;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            background: rgba(255, 255, 255, 0.13);
            color: rgba(255, 255, 255, 0.795);
            @include flex-centered(column);

            &:hover {
                background: rgba(255, 255, 255, 0.178);
            }
            &:active {
                background: rgba(255, 255, 255, 0.205);
            }
        }
    }
    .profile-box__settings {
        position: absolute;
        z-index: 3;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.548);
        font-size: 0.7em;
        left: 0.7em;
        top: 0.5em;
    }

    .profile-box__block-one {
        position: relative;
        z-index: 1;
        height: 82%;
        width: 100%;
        // background-color: rgba(255, 255, 255, 0.055);
        color: rgba(255, 255, 255, 0.904);
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        @include flex-centered(column);
        justify-content: flex-end;


        .block-one__username {
            font-size: 1em;
            margin-top: .4em;
            margin-bottom: .2em;
        }
        .block-one__address-gender {
            font-size: 0.1em;
            font-family: "antic slab";
            margin-bottom: 1em;
        }
        .block-one__handles-container {
            position: relative;
            @include flex-centered(row);
            justify-content: space-evenly;
            width: 40%;
            margin-bottom: .6em;

            .icon {
                color: white;
                font-size: .1em;
                cursor: pointer;
            }

            .active-handle {
                opacity: 0.6;
            }
        }
        .block-one__blurb {
            width: 70%;
            font-size: .5em;
            font-family: "antic slab";
            text-align: center;
            vertical-align: middle;
            margin-bottom: 3em;
        }
    }
    .profile-box__block-two {
        position: relative;
        background-color: rgba(255, 255, 255, 0.075);
        font-family: 'righteous';
        color: rgba(255, 255, 255, 0.733);
        font-size: .8em;
        letter-spacing: .05em;
        height: 18%;
        width: 100%;
        @include flex-centered(row);
        justify-content: space-evenly;


    }
}
