$border-color: rgb(206, 206, 206);

@mixin flex-centered($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}
.likes {
    position: relative;
    min-height: 2.4em;
    border-top: 1px solid $border-color;
    @include flex-centered(row);
    width: 100%;
    font-family: "permanent marker";

    .vote-icon-container {
        width: 16%;
        margin: 0% 1%;
        height: 2em;
        display: flex;
        @include flex-centered(column);
        cursor: pointer;

        .vote-icon-container-hover-div {
            position: absolute;
            height: 2em;
            width: 16%;
            &:hover {
                background: rgba(0, 0, 0, 0.036);
            }
        }

        #icon {
            pointer-events: none;
        }

        .likes-icon {
            font-size: 1.1em;
            color: rgb(150, 150, 150);
        }
        .lit {
            color: orange;
        }
        .lit-trash {
            color: darkred;
        }
        .vote-icon-container__trash {
            color: darkred;
        }
        .vote-icon-container__pop-up-voter {
            position: absolute;
            height: 2.3em;
            width: 5.5em;
            left: 0.1em;
            top: -2.6em;
            background-color: rgb(237, 237, 237);
            border: 1px solid rgba(0, 0, 0, 0.103);
            box-shadow: 1px 1px 2px lightgrey;
            border-radius: 5em;
            opacity: 0;
            pointer-events: painted;
            transform: translateY(30%);
            @include flex-centered(row);
            .pop-up-voter__icon-wrapper {
                height: 80%;
                width: 47%;
                @include flex-centered(row);
                &:hover {
                    background: rgba(0, 0, 0, 0.03);
                }
            }
            .left {
                border-top-left-radius: 5em;
                border-bottom-left-radius: 5em;
            }
            .right {
                border-top-right-radius: 5em;
                border-bottom-right-radius: 5em;
            }
        }
        .voter-icon {
            padding: 0em 0.62em;
        }
        .show {
            transform: translateY(0%);
            opacity: 1;
            transition: all 0.1s ease-in;
            pointer-events: painted;
        }
        .hide {
            opacity: 0;
            transform: translateY(10%);
            transition: opacity 0.1s ease-in, transform .3s ease-in;
            pointer-events: none;
        }
    }

    .total-score {
        @include flex-centered(row);
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
        color: rgba(0, 0, 0, 0.774);
        height: 80%;
        width: 49%;
        font-size: 0.8em;
        letter-spacing: 0.08em;
        position: relative;
        cursor: pointer;
    }
    .fans {
        font-size: 0.9em;
        color: rgba(0, 0, 0, 0.774);
        letter-spacing: 0.06em;
        height: 80%;
        width: 33%;
        padding-right: 0.2em;
        cursor: pointer;
        @include flex-centered(column);
    }
}
