#forgot-password-modal {
  position: absolute;
  z-index: 998;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 23em;
  width: 23em;
  border-radius: 3%;
  background-color: rgb(210, 210, 210);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(-50%, -50%);
  animation: fade-in-pass-modal .1s ease-in;
  color: black;
  
}
#forgot-password-modal > h5 {
    font-family: Arial, Helvetica, sans-serif;
    width: 16em;
    margin-block-start: 0em;
    margin-block-end: .5em;
}

#forgot-pass-x {
    position: absolute;
    top: .5em;
    right: .5em;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

@keyframes fade-in-pass-modal {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}


.passResetBtn {
    position: relative;
    margin-top: 15px;
    border-radius: 4px;
    height: 31px;
    width: 238px;
    height: 36px;
    background-color: rgb(0, 128, 126);
    color: white;
    letter-spacing: 3px;
    font-size: 12px;
    opacity: .85;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.passResetBtn:hover {
    opacity: .9
}
.passResetBtn:active {
    border-style: solid;
    opacity: 1;
}
.passResetBtn:focus {
    border-style: solid;
    opacity: 1;
}
.forgot-pass-invalid,
.forgot-pass-invalid:hover {
    opacity: .6;
    cursor: not-allowed;
}
.forgot-password-backdrop {
        position: fixed;
        z-index: 10;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.5);
}

#dont-remember {
    position: relative;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.904);
}

#pass-icon {
    height: 50px;
}

.pass-reset-input {
    margin-top: 17px;
    position: relative;
    width: 220px;
    height: 22px;
    border: 2px solid rgb(157, 157, 157);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.911);
    outline: none;
    padding: 5px;
    padding-left: 10px;
}


#forgot-pass-dot {
    position: absolute;
    color: black;
    top: -10em;
}

.forgot-pass-notification {
    position: absolute;
    height: auto;
    width: auto;
    z-index: 1000;
    top: -6em;
    padding: 15px;
    border-radius: .4em;
    background-color: rgba(112, 0, 0, 0.26);
    z-index: 9;
    color: rgb(216, 216, 216);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10pt;
    animation: fade-pop-in-out 4s ease-in-out forwards;
    opacity: 0;
}


@keyframes fade-pop-in-out {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    8% {
        transform: scale(1.1);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
    92% {
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

