.turntable {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  color: rgb(139, 139, 139);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.turntable #vinyl {
  position: relative;
  right: -1.8em;
  height: 8em;
  width: 8em;
  border-radius: 100em;
  background-color: rgb(211, 211, 211);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.turntable #glare {
  position: relative;
  height: 7.2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinning {
    animation: play 1.3s linear infinite;
}

.turntable #inner-vinyl {
  position: absolute;
  height: 1.8em;
  width: 1.8em;
  border-radius: 100em;
  border: 0.4em solid black;
}

.turntable #dot {
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-radius: 1005em;
  background-color: black;
}

.turntable .arm-container {
  position: relative;
  right: -.8em;
}

.record-stop {
  transform: rotate(0deg);
  transition: all 1s;
}
.record-play {
  transition: all 1s;
  transform: rotate(30deg) translate(-1.5em, .3em);
}

@keyframes play {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
#buttons-container {
    position: relative;
    display: flex;
    flex-direction: column;
    left: -0.1em;
}

#buttons-container .button {
    position: relative;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    bottom: -2em;
    margin-top: .45em;
    background-color: rgb(218, 218, 218);
}

#click-space {
    position: absolute;
    z-index: 100;
    height: 3em;
    width: 3em;
    height: 100%;
    width: 77%;
    right: 0em;
    cursor: pointer;
}


#buttons-container #button-active {
    background-color: rgba(255, 255, 255, 0.473);
}