.the-notepad {
  position: relative;
  height: 100%;
  width: 39em;
  border-radius: 0.3em;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.568);
  border: 0.1em solid rgba(255, 255, 255, 0.055);
  margin-left: 1.5em;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#notepad-compressed {
  width: 4em;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

#notepad-expanded {
  width: 42em;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.post-widget-header {
  position: relative;
  height: 2em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.63);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  font-size: 1.1em;
  letter-spacing: 0.14em;
}

#header-compressed {
  height: 2em;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

#header-expanded {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  color: rgba(255, 255, 255, 0.568);
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#header-expanded:hover {
  background-color: rgba(0, 0, 0, 0.473);
  color: rgba(255, 255, 255, 0.856);
  cursor: pointer;
}

.four-lines {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* border: .001em solid white; */
  height: 93%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#four-lines-expanded {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#four-lines-compressed {
  opacity: 0;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.input-line {
  text-align: center;
  border: none;
  font-family: "Rock Salt", cursive;
  outline: none;
  color: white;
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0);
}

.lines-expanded {
  position: relative;
  /* border: 1px solid lightblue; */
  width: 80%;
  opacity: 1;
  -webkit-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.lines-compressed {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
}

.submit-post-button {
  position: relative;
  height: 1.8rem;
  width: 5.5rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #969696;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.1em solid #a3a3a3;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.submit-post-button:hover {
  cursor: pointer;
  color: #c7c7c7;
  border-color: #c7c7c7;
}

.submit-post-button:active,
.submit-post-button:focus {
  color: white;
  border-color: white;
}

.submit-post-button-disabled {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#visible {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#invisible {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#my-post-spinner {
  position: absolute;
  z-index: 999;
  top: -9.6em;
  right: -5em;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #ee9700;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.post-notification {
  position: absolute;
  z-index: 999;
  bottom: 32%;
  width: auto;
  color: #ededed;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 11pt;
  border-radius: .4em;
  padding: 1.1em;
  background-color: rgba(1, 29, 1, 0.637);
  -webkit-animation: fade-pop-in-out 2.3s ease-in-out;
          animation: fade-pop-in-out 2.3s ease-in-out;
}

#negative-msg {
  background-color: rgba(49, 3, 3, 0.803);
}

@-webkit-keyframes fade-pop-in-out {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  8% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  92% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes fade-pop-in-out {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  8% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  92% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

#post-form {
  position: relative;
  /* border: 1px solid lightpink; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}
/*# sourceMappingURL=Post.css.map */