.the-notepad {
    position: relative;
    height: 100%;
    width: 39em;
    border-radius: 0.3em;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.568);
    border: 0.1em solid rgba(255, 255, 255, 0.055);
    margin-left: 1.5em;
    display: block;
    transition: all 0.3s;
}

#notepad-compressed {
    width: 4em;
    transition: width 0.5s;
}

#notepad-expanded {
    width: 42em;
    transition: width 0.5s;
}

.post-widget-header {
    position: relative;
    height: 2em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    border-bottom: 0.1em solid rgba(255, 255, 255, 0.63);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    font-size: 1.1em;
    letter-spacing: 0.14em;
}
#header-compressed {
    height: 2em;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    transition: height 0.5s;
}
#header-expanded {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    color: rgba(255, 255, 255, 0.568);
    transition: height 0.8s;
    transition-delay: 0.1s;
}

#header-expanded:hover {
    background-color: rgba(0, 0, 0, 0.473);
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
}

.four-lines {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: .001em solid white; */
    height: 93%;
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

#four-lines-expanded {
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

#four-lines-compressed {
    opacity: 0;
    transition: opacity 0.1s;
}

.input-line {
    text-align: center;
    border: none;
    font-family: "Rock Salt", cursive;
    outline: none;
    color: white;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
}

.lines-expanded {
    position: relative;
    /* border: 1px solid lightblue; */
    width: 80%;
    opacity: 1;
    transition: opacity, 0.5s;
    transition-delay: 0.5s;
}

.lines-compressed {
    opacity: 0;
    pointer-events: none;
    transition: opacity, 0.5s;
}

.submit-post-button {
    position: relative;
    height: 1.8rem;
    width: 5.5rem;
    background: transparent;
    display: flex;
    font-size: 0.7em;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rgba(150, 150, 150, 0.856);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1em solid rgba(163, 163, 163, 0.623);
    opacity: 1;
    transition: opacity 0.5s;
}
.submit-post-button--valid {
    color: rgb(150, 150, 150);
    border: 0.1em solid rgb(163, 163, 163);
    &:before {
        content: "";
        background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
        );
        position: absolute;
        top: 2px;
        left: 1px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(98%);
        height: calc(90%);
        animation: glowing 20s linear infinite;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

    }
    &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(26, 26, 26);
        left: 0;
        top: 0;

    }
}

.submit-post-button--valid:hover {
    cursor: pointer;
    color: rgb(199, 199, 199);
    border-color: rgb(199, 199, 199);
}

.submit-post-button--valid:active,
.submit-post-button--valid:focus {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.submit-post-button-disabled {
    opacity: 0;
    transition: opacity 0.5s;
}

#visible {
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

#invisible {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

#my-post-spinner {
    position: absolute;
    z-index: 999;
    top: -9.6em;
    right: 9.5em;
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: rgb(238, 151, 0);
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.post-notification {
    position: absolute;
    z-index: 999;
    bottom: 32%;
    width: auto;
    color: rgb(237, 237, 237);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 11pt;
    border-radius: 0.4em;
    padding: 1.1em;
    background-color: rgba(1, 29, 1, 0.637);
    animation: fade-pop-in-out 2.3s ease-in-out;
}

#negative-msg {
    background-color: rgba(49, 3, 3, 0.803);
}

@keyframes fade-pop-in-out {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    8% {
        transform: scale(1.1);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
    92% {
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

#post-form {
    position: relative;
    /* border: 1px solid lightpink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
