@mixin flex-centered($direction) {
    display: flex;
    flex-direction: ($direction);
    align-items: center;
    justify-content: center;
}

.reg-form {
    @include flex-centered(column);
    color: rgba(255, 255, 255, 0.87);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: fade-in 0.3s ease-in 1.2s forwards;

    #reg-form-close {
        position: absolute;
        top: 1.2em;
        right: 1.4em;
        font-size: 1.3em;
        color: rgba(255, 255, 255, 0.575);
        cursor: pointer;
    }
    .reg-header {
        font-size: 3.3em;
        color: rgba(255, 255, 255, 0.904);
        margin-block-start: 0em;
        margin-block-end: 1em;
    }
    .reg-detail {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        letter-spacing: 0.05em;
        width: 19.7em;
    }
    .reg-button {
        background-color: transparent;
        height: 3.3em;
        width: 20.1em;
        border-radius: 0.2em;
        margin: 0.6em 0em;
        border: 1px solid rgba(209, 209, 209, 0.432);
        color: rgba(255, 255, 255, 0.438);
    }
    .valid {
        $valid-color: rgba(255, 255, 255, 0.726);
        border-color: $valid-color;
        color: $valid-color;
        &:hover {
            $valid-hover-color: rgba(255, 255, 255, 0.842);
            border-color: $valid-hover-color;
            color: $valid-hover-color;
        }
        &:active {
            $valid-active-color: rgba(255, 255, 255, 0.959);
            border-color: $valid-active-color;
            color: $valid-active-color;
        }
    }
    .large-input {
        background-color: transparent;
        height: 2.5em;
        width: 18em;
        border-radius: 0.2em;
        margin: 0.64em 0em;
        border: 1px solid rgba(255, 255, 255, 0.582);
        padding: 0.3em 1em;
        color: white;

        &:focus {
            outline: none;
        }
    }

    .account-wrapper {
        @include flex-centered(column);
        opacity: 1;
        .invalid {
            outline: 1px solid rgba(255, 0, 0, 0.685);
        }
    }

    .profile-wrapper {
        @include flex-centered(column);
        #reg-form-back {
            position: absolute;
            cursor: pointer;
            font-size: 1.2em;
            left: 1.6em;
            top: 1.5em;
            color: rgba(255, 255, 255, 0.658);
        }
        .invalid {
            outline: 1px solid rgba(255, 0, 0, 0.685);
        }
        .zip-sex-wrapper {
            display: none;
            @include flex-centered(row);
            justify-content: space-evenly;
            width: 21.2em;
            .zip-input {
                background-color: transparent;
                height: 2.5em;
                width: 8em;
                border-radius: 0.2em;
                margin: 0.64em 0em;
                border: 1px solid rgba(255, 255, 255, 0.582);
                padding: 0.3em 1em;
                color: white;
            }
            .sex-button {
                background-color: transparent;
                height: 3.3em;
                width: 4.3em;
                border-radius: 0.2em;
                margin: 0.64em 0em;
                border: 1px solid rgba(255, 255, 255, 0.582);
                padding: 0.3em 1em;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
                color: rgba(255, 255, 255, 0.603);
                cursor: pointer;
                &:hover {
                    cursor: pointer;
                }
                @include flex-centered(column);
            }
            .focused-sex {
                 $focused-sex-color: rgba(255, 255, 255, 0.884);
                 color: $focused-sex-color;
                 border-color: $focused-sex-color;
            }
        }
    }
    .fade-out {
        opacity: 0;
        transition: all .5s ease-out;
    }

    .zip-input {
        width: 2em;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.reg-form-spinner {
    position: absolute;
    top: -15em;
    width: 40px;
    height: 40px;
    margin: 100px auto;
    z-index: 30;
    background-color: rgb(255, 166, 0);
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }