.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-animation: fade-in 0.3s ease-in 1.2s forwards;
          animation: fade-in 0.3s ease-in 1.2s forwards;
}

.reg-form #reg-form-close {
  position: absolute;
  top: 1.2em;
  right: 1.2em;
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.575);
  cursor: pointer;
}

.reg-form .reg-header {
  font-size: 3.3em;
  color: rgba(255, 255, 255, 0.904);
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.reg-form .reg-detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  letter-spacing: 0.05em;
  width: 19.7em;
}

.reg-form .reg-button {
  background-color: transparent;
  height: 3.3em;
  width: 20.1em;
  border-radius: 0.2em;
  margin: 0.6em 0em;
  border: 1px solid rgba(209, 209, 209, 0.432);
  color: rgba(255, 255, 255, 0.438);
}

.reg-form .valid {
  border-color: rgba(255, 255, 255, 0.726);
  color: rgba(255, 255, 255, 0.726);
}

.reg-form .valid:hover {
  border-color: rgba(255, 255, 255, 0.842);
  color: rgba(255, 255, 255, 0.842);
}

.reg-form .valid:active {
  border-color: rgba(255, 255, 255, 0.959);
  color: rgba(255, 255, 255, 0.959);
}

.reg-form .large-input {
  background-color: transparent;
  height: 2.5em;
  width: 18em;
  border-radius: 0.2em;
  margin: 0.64em 0em;
  border: 1px solid rgba(255, 255, 255, 0.582);
  padding: 0.3em 1em;
  color: white;
}

.reg-form .large-input:focus {
  outline: none;
}

.reg-form .account-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reg-form .account-wrapper .invalid {
  outline: 1px solid rgba(255, 0, 0, 0.685);
}

.reg-form .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reg-form .profile-wrapper .invalid {
  outline: 1px solid rgba(255, 0, 0, 0.685);
}

.reg-form .profile-wrapper .zip-sex-wrapper {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 21.2em;
}

.reg-form .profile-wrapper .zip-sex-wrapper .zip-input {
  background-color: transparent;
  height: 2.5em;
  width: 8em;
  border-radius: 0.2em;
  margin: 0.64em 0em;
  border: 1px solid rgba(255, 255, 255, 0.582);
  padding: 0.3em 1em;
  color: white;
}

.reg-form .profile-wrapper .zip-sex-wrapper .sex-button {
  background-color: transparent;
  height: 3.4em;
  width: 4.3em;
  border-radius: 0.2em;
  margin: 0.64em 0em;
  border: 1px solid rgba(255, 255, 255, 0.582);
  padding: 0.3em 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.603);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reg-form .profile-wrapper .zip-sex-wrapper .sex-button:hover {
  cursor: pointer;
}

.reg-form .profile-wrapper .zip-sex-wrapper .focused-sex {
  color: rgba(255, 255, 255, 0.884);
  border-color: rgba(255, 255, 255, 0.884);
}

.reg-form .zip-input {
  width: 2em;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=RegForm.css.map */