
@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');


.scroller {
    position: relative;
    height: 310px;
    width: 430px;
    z-index: 100;
    margin: 2em;
    overflow: hidden;
    .scroller__item-container {
        position: absolute;
        display: flex;
        height: 100%;
        transform: translateX(-430px);
        .item-container__item {
            position: relative;
            width: 430px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            p {
                margin-block-start: 0em;
                margin-block-end: 0em;
                text-align: center;
                color: rgba(255, 255, 255, 0.87);
                width: 70%;
                letter-spacing: 1px;
                font-size: 1.2em;
                text-shadow: 1px 2px 1px black;
                // background: rgba(0, 0, 0, 0.623);
            }
            .item__many-post {
                width: 100%;
            }
            .item__table {
                position: relative;
                width: 100%;
                border-bottom: 1.2px solid rgba(255, 255, 255, 0.137);
            }
        }
    }
}
.emphasized {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}