
@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');


.scroller {
    position: relative;
    width: 430px;
    z-index: 200;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    .scroller__item-container {
        position: absolute;
        display: flex;
        transition: all 1.2s ease-in-out;
        .item-container__item {
            position: relative;
            width: 430px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                margin-block-start: 0em;
                margin-block-end: 2em;
                text-align: center;
                color: rgba(255, 255, 255, 0.87);
                width: 75%;
                letter-spacing: 1px;
                font-size: 1em;
                text-shadow: 1px 2px 1px black;
                line-height: 24px;
                // background: rgba(0, 0, 0, 0.623);
            }
            .item__many-post {
                width: 100%;
            }
            .item__table {
                position: relative;
                width: 100%;

            }
            .item__filter-bar {
                position: relative;
                width: 100%;
            }
            .item__ajiashi {
                width: 60%;
            }
        
        }
    }
}
.emphasized {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}