@mixin flex-center($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}

@mixin header {
    position: relative;
    min-height: 2.4em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(221, 221, 221);
    background-color: rgba(0, 0, 0, 0.884);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 0.95em;
    letter-spacing: 0.2em;
    border-bottom: 0.1em solid rgb(165, 165, 165);
}

.many-view-layout {
    position: fixed;
    top: 5.3em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    overflow: auto;
    @include flex-center(column);
}

.many-view {
    position: relative;
    top: 3.5em;
    display: flex;
    flex-direction: row;
    .many-view__posts {
        position: relative;
        // border: 1px solid pink;
        height: auto;
        margin-right: 1.5em;
        padding-bottom: 30em;
        @include flex-center(column);
    }
    .many-view__modules {
        position: relative;
        .sticky-wrapper {
             position: sticky;
             top: 4.4em;
             width: 18.2em;
            .turntable-wrapper {
                margin-top: 1.8em;
                height: 10em;
            }
        }
    }
}
