@import url("https://fonts.googleapis.com/css?family=Beth+Ellen|Noto+Sans&display=swap");

#dict-modal-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 500;

  background-color: rgba(0, 0, 0, 0.61);
  animation: modal-fade-in 0.1s ease-in;
}

#dict-modal-body {
  position: fixed;
  left: 15%;
  bottom: 15%;
  z-index: 501;
  height: 25em;
  width: 28em;
  background-color: rgb(8, 8, 8);
  border: 0.1em solid rgba(255, 255, 255, 0.048);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  /* padding-bottom: 5em; */
  border-radius: 0.5em;
  animation: dict-body-fade-in 0.2s ease-in;
  -webkit-animation: dict-body-fade-in 0.2s ease-in;
}

#dict-modal-body-content{
  position: relative;
  width: 25em;
  height: 100%;
  overflow: auto;
}

#dict-sugg-modal-body {
  position: fixed;
  left: 17%;
  bottom: 25%;
  z-index: 501;

  height: auto;
  width: auto;
  background-color: rgb(8, 8, 8);
  border: 0.1em solid rgba(255, 255, 255, 0.048);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;

  overflow: auto;
  border-radius: 0.5em;
  animation: dict-body-fade-in 0.2s ease-in;
  -webkit-animation: dict-body-fade-in 0.2s ease-in;
}

#dict-modal-body-content::-webkit-scrollbar {
  width: 5px;
}

#dict-modal-body-content::-webkit-scrollbar-thumb {
  background: #888;
}

@keyframes dict-body-fade-in {
  0% {
    opacity: 0;
    /* transform: scale(1.2); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

@-webkit-keyframes dict-body-fade-in {
    0% {
      opacity: 0;
      /* transform: scale(1.2); */
    }
    100% {
      opacity: 1;
      /* transform: scale(1); */
    }
  }

/* 
font-family: 'Beth Ellen', cursive;
font-family: 'Noto Sans', sans-serif; */

#word-title {
  font-family: "Rock Salt", cursive;
  color: rgb(240, 240, 240);
  font-size: 2em;
  position: relative;
}
#dict-line-divider {
  position: relative;
  border: 0.07em solid rgba(255, 255, 255, 0.534);
  width: 85%;
  top: -0.6em;
}
#word-type {
  font-family: "Beth Ellen", cursive;
  font-size: 1.3em;
  color: rgb(0, 113, 148);
  position: relative;
}

#definitions-list {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8em;
  margin-top: 0em;
  color: rgb(241, 241, 241);
}

#short-def {
  margin-top: 0.5em;
}

#definitions-container {
  width: 90%;
}
.close-dict-modal-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  height: 2em;
}
#close-dict-modal {
  position: relative;
  color: rgb(209, 209, 209);
  cursor: pointer;
  right: .7em;
  top: .7em;

}

#close-dict-modal:hover {
  cursor: pointer;
}

#suggestions-wrapper {
  position: relative;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sorry {
  font-family: 'rock salt', cursive;
  font-size: 1.2em;
}
#wrong-word {
  color: rgb(5, 92, 143);
}
#did-you-mean {
  font-family: 'rock salt', cursive;
}

#close-dict-sugg-modal {
  position: absolute;
  color: rgb(224, 224, 224);
  top: .6em;
  right: .7em;
  cursor: pointer;
}


/* 

<div id="suggestions-wrapper">
<div id="sorry">Sorry, nothing for '{this.props.theWord}'.</div>
<div id='did-you-mean'>Did you mean:</div>
<div id='suggestions-list'>
    {response.map(word => {
        return <span>{word} </span>
    })}
</div>
</div> */

