.BarzLogo {
    margin-right: 50px;
    /* border: 1px solid yellow; */
}

.BarzLogo button {
    /* font stuff */
    background-color: rgba(240, 248, 255, 0);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 43px;
    border: none;
    letter-spacing: 5px;
    word-spacing: 0.6px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    
    }