.pro-spotlight-wrapper {
  position: relative;
  z-index: 300;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 100%;
  width: 100%;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.719);
  -webkit-animation: pro-fade .3s ease-in;
          animation: pro-fade .3s ease-in;
}

.body {
  position: absolute;
  z-index: 501;
  height: 30em;
  width: 40em;
  background-color: #030303;
  color: #d4d4d4;
  font-family: "permanent marker";
  text-align: center;
  border-radius: .5em;
  font-size: 1.3em;
  -webkit-animation: pro-fade 2s ease-in;
          animation: pro-fade 2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .section-one {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  line-height: 2.4em;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
}

.body .section-one #pro-line-1 {
  -webkit-animation: text-in 1s ease-in;
          animation: text-in 1s ease-in;
}

.body .section-one #pro-line-2 {
  -webkit-animation: text-in 3s ease-in;
          animation: text-in 3s ease-in;
}

.body .section-one #pro-line-3 {
  -webkit-animation: text-in 5s ease-in;
          animation: text-in 5s ease-in;
}

.body .section-one #pro-line-4 {
  -webkit-animation: text-in 7s ease-in;
          animation: text-in 7s ease-in;
}

.body .section-two {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  line-height: 2.4em;
  -webkit-margin-before: 0.4em;
          margin-block-start: 0.4em;
}

.body .section-two #pro-line-5 {
  -webkit-animation: text-in 9s ease-in;
          animation: text-in 9s ease-in;
}

.body .section-two #pro-line-6 {
  -webkit-animation: text-in 11s ease-in;
          animation: text-in 11s ease-in;
}

.body .section-two #pro-line-7 {
  -webkit-animation: text-in 13s ease-in;
          animation: text-in 13s ease-in;
}

.body .section-two #pro-line-8 {
  -webkit-animation: text-in 15s ease-in;
          animation: text-in 15s ease-in;
}

.body .artist {
  opacity: 0;
  -webkit-animation: pro-fade 5s ease-in forwards;
          animation: pro-fade 5s ease-in forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.body .dash {
  opacity: 0;
  -webkit-animation: pro-fade 5s ease-in forwards;
          animation: pro-fade 5s ease-in forwards;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.body .song {
  opacity: 0;
  -webkit-animation: pro-fade 5s ease-in forwards;
          animation: pro-fade 5s ease-in forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.body .date {
  opacity: 0;
  -webkit-animation: pro-fade 5s ease-in forwards;
          animation: pro-fade 5s ease-in forwards;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

@-webkit-keyframes text-in {
  0% {
    color: black;
  }
  100% {
    color: rgba(0, 0, 0, 0);
  }
}

@keyframes text-in {
  0% {
    color: black;
  }
  100% {
    color: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes pro-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pro-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pro-transform {
  0% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pro-transform {
  0% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes letter-widen {
  0% {
    letter-spacing: .1em;
  }
  100% {
    letter-spacing: .13em;
  }
}

@keyframes letter-widen {
  0% {
    letter-spacing: .1em;
  }
  100% {
    letter-spacing: .13em;
  }
}
/*# sourceMappingURL=ProSpotlight.css.map */