@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Sedgwick+Ave+Display&display=swap");
.many-post {
  position: relative;
  background-color: rgba(0, 0, 0, 0.712);
  border-radius: 0.2em;
  width: 33em;
  height: 14rem;
  margin: 1em;
  font-size: .9rem;
  font-family: 'rock salt', cursive;
  color: rgba(255, 255, 255, 0.829);
}

.many-post:nth-child(2n + 2) {
  background-color: rgba(1, 8, 14, 0.685);
  font-family: 'permanent marker';
  color: rgba(255, 255, 255, 0.822);
}

.many-post:hover {
  cursor: pointer;
}

.many-post header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.5em;
  color: white;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  background-color: rgba(255, 255, 255, 0.089);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.many-post header .many-post-details {
  margin-left: 0.9em;
}

.many-post header .many-post-details img {
  height: 1.3em;
  width: 1.3em;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 0.5em;
}

.many-post header .many-post-details .many-post-name-date-container {
  display: inline-block;
}

.many-post header .many-post-details .many-post-name-date-container h6 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-size: 0.7em;
}

.many-post header .many-post-details .many-post-name-date-container p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-size: 0.01rem;
}

.many-post header .many-post-misc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.8em;
}

.many-post header .many-post-misc img {
  height: 1em;
  width: 1em;
  margin-left: 0.5em;
}

.many-post header .many-post-misc .manyComment {
  margin-right: 0.1em;
}

.many-post .many-post-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 2.5em);
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.many-post .many-post-body p {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  width: 80%;
  height: auto;
  max-height: 8em;
  overflow: hidden;
  text-align: center;
  line-height: 2.2em;
}
/*# sourceMappingURL=ManyPost.css.map */