@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$edges: 0.2em;

.many-post {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.123);
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: $edges;
    margin: 0em 1em 1.4em 1em;
    font-size: 0.9rem;
    font-family: "permanent marker";
    color: rgba(255, 255, 255, 0.774);
    pointer-events: painted;

    $bar-colors: rgba(0, 0, 0, 0.137);


    header {
        position: relative;
        top: 0em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 2.9em;
        color: white;
        border-top-left-radius: $edges;
        border-top-right-radius: $edges;
        border-bottom: 1px solid rgba(255, 255, 255, 0.123);
        background-color: rgba(0, 0, 0, 0.521);
        align-items: center;

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
            "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        &:hover {
            cursor: pointer;
        }
        .many-post-details {
            margin-left: 1.4em;
            img {
                height: 1.7em;
                width: 1.7em;
                overflow: hidden;
                border-radius: 50%;
                margin-right: 0.45em;
            }
            .many-post-name-date-container {
                display: inline-block;
                h6 {
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                    font-size: 1.15em;
                    color: rgba(228, 228, 228, 0.973);
                    letter-spacing: 1px;
                    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
                }
                p {
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                    font-size: 9px;
                    position: relative;
                    top: -0.1em;
                }
            }
        }
        .many-post-region {
            font-family: "permanent marker";
            font-size: 1.2em;
            position: relative;
            left: -0.9em;
            letter-spacing: 0.1em;
        }
        #yellow {
            color: rgb(151, 149, 5);
        }
        #greeen {
            color: rgba(0, 233, 58, 0.774);
        }
        #blue {
            color: rgba(0, 125, 209, 0.705);
        }
        #purple {
            color: rgb(102, 0, 0.705);
        }
        .many-post-misc {
            position: relative;
            display: flex;
            align-items: center;
            right: 1.5em;
            font-family: "Roboto", sans-serif;
            color: rgba(255, 255, 255, 0.815);

            img {
                height: 1.4em;
                width: 1.4em;
                margin-left: 0.5em;
            }
            #manyComment {
                margin-right: 0.2em;
            }
            #manyFlame {
                margin-left: 1em;
                margin-right: 0.2em;
                position: relative;
                // top: -1px;
            }
        }
    }
    .many-post-body {
        position: relative;
        display: flex;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
        p {
            font-size: 1.5em;
            padding: 2em;
            margin-block-start: 0px;
            margin-block-end: 0px;
            width: 19em;
            min-height: 2em;
            text-align: left;
            line-height: 1.5em;
            word-wrap: break-word;
        }
    }
    .vote-box {
        position: relative;
        background-color: $bar-colors;
        bottom: 0em;
        height: 2.7em;
        width: 100%;
        border-bottom-left-radius: $edges;
        border-bottom-right-radius: $edges;
        border-top: 1px solid rgba(255, 255, 255, 0.123);
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .vote-button {
            display: inline-block;
            width: 48%;
            height: 75%;
            border: none;
            background-color: rgba(255, 255, 255, 0.089);
            font-size: 1em;
        }
        .dislike-button {
            border-bottom-left-radius: $edges;
        }
        .like-button {
            border-bottom-right-radius: $edges;
            font-size: 1.1em;
        }
    }
}
