@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.many-post {
  position: relative;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 1.2em;
  margin: 1em;
  font-size: 0.9rem;
  font-family: "permanent marker";
  color: rgba(255, 255, 255, 0.74);
}

.many-post:hover {
  cursor: pointer;
}

.many-post .scroll-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 80%;
  background-color: black;
  z-index: 999;
}

.many-post header {
  position: relative;
  top: 0em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.9em;
  color: white;
  border-top-left-radius: 1.2em;
  border-top-right-radius: 1.2em;
  background-color: rgba(255, 255, 255, 0.144);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.many-post header .many-post-details {
  margin-left: 1.4em;
}

.many-post header .many-post-details img {
  height: 1.7em;
  width: 1.7em;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 0.7em;
}

.many-post header .many-post-details .many-post-name-date-container {
  display: inline-block;
}

.many-post header .many-post-details .many-post-name-date-container h6 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-size: 1.2em;
  color: rgba(228, 228, 228, 0.973);
  letter-spacing: 0.1em;
  font-family: "permanent marker";
}

.many-post header .many-post-details .many-post-name-date-container p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-size: 8px;
  position: relative;
  top: -0.2em;
}

.many-post header .many-post-region {
  font-family: "permanent marker";
  font-size: 1.3em;
  position: relative;
  left: -0.9em;
  letter-spacing: 0.22em;
}

.many-post header #yellow {
  color: rgba(236, 232, 0, 0.733);
}

.many-post header #green {
  color: #00ec01;
}

.many-post header #blue {
  color: rgba(0, 125, 209, 0.705);
}

.many-post header #purple {
  color: #660001;
}

.many-post header .many-post-misc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 1.5em;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.815);
}

.many-post header .many-post-misc img {
  height: 1.4em;
  width: 1.4em;
  margin-left: 0.5em;
}

.many-post header .many-post-misc #manyComment {
  margin-right: 0.2em;
}

.many-post header .many-post-misc #manyFlame {
  margin-left: 1em;
  margin-right: .2em;
  position: relative;
}

.many-post .many-post-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.many-post .many-post-body p {
  font-size: 1.5em;
  padding: 2em;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  width: 18em;
  min-height: 2em;
  text-align: left;
  line-height: 1.5em;
}

.many-post .vote-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.144);
  bottom: 0em;
  height: 2.7em;
  width: 100%;
  border-bottom-left-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.many-post .vote-box .vote-button {
  display: inline-block;
  width: 48%;
  height: 75%;
  border: none;
  background-color: rgba(0, 0, 0, 0.158);
  font-size: 1em;
}

.many-post .vote-box .dislike-button {
  border-bottom-left-radius: 1em;
}

.many-post .vote-box .like-button {
  border-bottom-right-radius: 1em;
  font-size: 1.1em;
}
/*# sourceMappingURL=ManyPost.css.map */