@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.many-post {
    position: relative;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 1.2em;
    margin: 1em;
    font-size: 0.9rem;
    font-family: "permanent marker";
    color: rgba(255, 255, 255, 0.74);
    &:hover {
        cursor: pointer;
    }

    $bar-colors: rgba(255, 255, 255, 0.144);

    .scroll-link {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 80%;
        background-color: black;
        z-index: 999;
    }


    header {
        position: relative;
        top: 0em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 2.9em;
        color: white;
        border-top-left-radius: 1.2em;
        border-top-right-radius: 1.2em;
        background-color: $bar-colors;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
            "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

        .many-post-details {
            margin-left: 1.4em;
            img {
                height: 1.7em;
                width: 1.7em;
                overflow: hidden;
                border-radius: 50%;
                margin-right: 0.7em;
            }
            .many-post-name-date-container {
                display: inline-block;
                h6 {
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                    font-size: 1.2em;
                    color: rgba(228, 228, 228, 0.973);
                    letter-spacing: 0.1em;
                    font-family: "permanent marker";
                }
                p {
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                    font-size: 8px;
                    position: relative;
                    top: -0.2em;
                }
            }
        }
        .many-post-region {
            font-family: "permanent marker";
            font-size: 1.3em;
            position: relative;
            left: -0.9em;
            letter-spacing: 0.22em;
        }
        #yellow {
            color: rgba(236, 232, 0, 0.733);
        }
        #green {
            color: rgb(0, 236, 0.705);
        }
        #blue {
            color: rgba(0, 125, 209, 0.705);
        }
        #purple {
            color: rgb(102, 0, 0.705);
        }
        .many-post-misc {
            position: relative;
            display: flex;
            align-items: center;
            right: 1.5em;
            font-family: "Roboto", sans-serif;
            color: rgba(255, 255, 255, 0.815);

            img {
                height: 1.4em;
                width: 1.4em;
                margin-left: 0.5em;
            }
            #manyComment {
                margin-right: 0.2em;
            }
            #manyFlame {
                margin-left: 1em;
                margin-right: .2em;
                position: relative;
                // top: -1px;
            }
        }
    }
    .many-post-body {
        position: relative;
        display: flex;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
        p {
            font-size: 1.5em;
            padding: 2em;
            margin-block-start: 0px;
            margin-block-end: 0px;
            width: 18em;
            min-height: 2em;
            text-align: left;
            line-height: 1.5em;
        }
    }
    .vote-box {
        position: relative;
        background-color: $bar-colors;
        bottom: 0em;
        height: 2.7em;
        width: 100%;
        border-bottom-left-radius: 1.2em;
        border-bottom-right-radius: 1.2em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .vote-button {
            display: inline-block;
            width: 48%;
            height: 75%;
            border: none;
            background-color: rgba(0, 0, 0, 0.158);
            font-size: 1em;
        }
        .dislike-button {
            border-bottom-left-radius: 1em;
        }
        .like-button {
            border-bottom-right-radius: 1em;
            font-size: 1.1em;
        }
    }
}
