.hub-layout {
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  overflow: auto;
  z-index: 5;
}

.hub-layout .hub-layout__body-wrapper {
  position: fixed;
  top: 5.3em;
  left: 0em;
  right: 0em;
  bottom: 0em;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.columns-container {
  padding-top: 2.8em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.columns-container .left-column {
  position: -webkit-sticky;
  position: sticky;
  top: 3.8em;
  width: 14em;
  margin-right: 1em;
}

.columns-container .left-column .left-column__profile-box-container {
  height: 19em;
  width: 100%;
}

.columns-container .left-column .left-column__turntable-wrapper {
  margin-top: 1.3em;
  height: 9.2em;
}

.columns-container .middle-column {
  min-width: 27.115em;
  padding-bottom: 50em;
  margin-right: 1em;
}

.columns-container .middle-column .middle-column__notification {
  height: 3em;
  border: 1px solid rgba(255, 255, 255, 0.228);
  border-radius: .4em;
  background: rgba(0, 0, 0, 0.817);
  letter-spacing: .06em;
  color: rgba(255, 255, 255, 0.714);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fade-in .4s ease-in;
          animation: fade-in .4s ease-in;
}

.columns-container .right-column {
  position: -webkit-sticky;
  position: sticky;
  top: 3.8em;
}

.columns-container .right-column .turntable-wrapper {
  height: 10em;
  margin-top: 1.8em;
}

#mv-cred {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 5px;
  left: 10px;
  opacity: 0;
  color: white;
  font-family: "Rock Salt", cursive;
  font-size: 9px;
  letter-spacing: 2px;
  -webkit-animation: fade-in-and-out 5s forwards;
          animation: fade-in-and-out 5s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#ProfileImage {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  background-color: white;
}

#backup-img {
  z-index: -100;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#yoxOverlay {
  position: fixed;
  background: rgba(18, 10, 0, 0.418);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
}

#hub-loader {
  position: absolute;
  margin-top: 7.5em;
}

.yox {
  position: fixed;
}
/*# sourceMappingURL=Hub.css.map */