

@mixin flex-centered($direction) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.hub-layout {
    // z-index: 10000;
    position: absolute;
    top: 2em;
    bottom: 0em;
    left: 0em;
    right: 0em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column-container {
    position: relative;
    top: 5em;

    .left-column {
        width: 15em;
        .left-column__profile-box-container {
            height: 19em;
            width: 100%;
        }
    }
}



#mv-cred {

    display: flex;
    position: fixed;
    bottom: 5px;
    left: 10px;
    opacity: 0;
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 9px;
    letter-spacing: 2px;
    animation: fade-in-and-out 5s forwards;
    animation-delay: 1s;
}

@keyframes fade-in-and-out {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}






#backup-img {
    z-index: -100;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#yoxOverlay {
    z-index: 0;
    position: fixed;
    background: rgba(18, 10, 0, 0.418);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}


#hub-loader {
    position: absolute;
    margin-top: 7.5em;
}


