@import url("https://fonts.googleapis.com/css?family=Antic+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
.spotlight {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.199);
}

.spotlight .spotlight__three-dots {
  position: absolute;
  z-index: 3;
  top: 0.5em;
  right: 0.4em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spotlight .spotlight__three-dots .dot {
  position: relative;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.678);
  margin-left: 2px;
}

.spotlight .spotlight__drop-options {
  position: absolute;
  z-index: 5;
  top: 1.1em;
  right: 0.5em;
  padding: 0.2em;
  border-radius: 0.2em;
  background-color: #0a0a0a;
  cursor: pointer;
}

.spotlight .spotlight__drop-options .drop-options__log-out {
  cursor: pointer;
  position: relative;
  width: 9em;
  height: 2em;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: rgba(255, 255, 255, 0.13);
  color: rgba(255, 255, 255, 0.795);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spotlight .spotlight__drop-options .drop-options__log-out:hover {
  background: rgba(255, 255, 255, 0.178);
}

.spotlight .spotlight__drop-options .drop-options__log-out:active {
  background: rgba(255, 255, 255, 0.205);
}

.spotlight .spotlight__settings {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.548);
  font-size: 0.7em;
  left: 0.7em;
  top: 0.5em;
}

.spotlight .spotlight__block-one {
  position: relative;
  z-index: 1;
  height: 78%;
  width: 100%;
  color: rgba(255, 255, 255, 0.904);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spotlight .spotlight__block-one h2 {
  position: relative;
  top: 0em;
  font-size: 1.3em;
  color: "lightgrey";
  font-family: "righteous";
}

.spotlight .spotlight__block-one .block-one__img-wrapper {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  margin-bottom: 0.4rem;
}

.spotlight .spotlight__block-one .block-one__img-wrapper img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.spotlight .spotlight__block-one .block-one__img-wrapper .crown {
  position: absolute;
  top: 0em;
  right: 50%;
  -webkit-transform: translate(50%, -85%);
          transform: translate(50%, -85%);
  font-size: 1.5em;
  color: gold;
}

.spotlight .spotlight__block-one .block-one__username {
  font-size: 1.1em;
  margin-bottom: 0.4rem;
}

.spotlight .spotlight__block-one .block-one__select-a-user {
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  top: 4em;
}

.spotlight .spotlight__block-one .block-one__address-gender {
  font-size: 0.7rem;
  font-family: "antic slab";
  margin-bottom: 0.4rem;
}

.spotlight .spotlight__block-one .block-one__handles-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: auto;
  height: 0.4em;
  margin-bottom: 0.4rem;
}

.spotlight .spotlight__block-one .block-one__handles-container .icon {
  color: white;
  font-size: 0.7rem;
  margin: 0em .4rem;
  cursor: pointer;
}

.spotlight .spotlight__block-one .block-one__handles-container .fa-facebook-f {
  color: blue;
}

.spotlight .spotlight__block-one .block-one__handles-container .fa-instagram {
  color: purple;
}

.spotlight .spotlight__block-one .block-one__handles-container .fa-soundcloud {
  color: orange;
}

.spotlight .spotlight__block-one .block-one__handles-container .fa-youtube {
  color: red;
}

.spotlight .spotlight__block-one .block-one__handles-container .active-handle {
  opacity: 0.6;
}

.spotlight .spotlight__block-one .block-one__blurb {
  position: relative;
  background: transparent;
  resize: none;
  font-family: "permanent marker";
  color: rgba(255, 248, 248, 0.824);
  text-align: center;
  font-size: 0.8em;
  line-height: 1.1em;
  width: 70%;
  height: 3em;
  cursor: pointer;
  border: none;
  border: 1px dotted rgba(255, 255, 255, 0);
  -webkit-margin-before: .2em;
          margin-block-start: .2em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.spotlight .spotlight__block-one .block-one__blurb:focus {
  cursor: text;
  border: 1px dotted rgba(255, 255, 255, 0.24);
}

.spotlight .spotlight__block-one .block-one__blurb:focus::-webkit-input-placeholder {
  color: transparent;
}

.spotlight .spotlight__block-one .block-one__blurb:focus:-ms-input-placeholder {
  color: transparent;
}

.spotlight .spotlight__block-one .block-one__blurb:focus::-ms-input-placeholder {
  color: transparent;
}

.spotlight .spotlight__block-one .block-one__blurb:focus::placeholder {
  color: transparent;
}

.spotlight .spotlight__block-two {
  position: relative;
  background-color: rgba(255, 255, 255, 0.075);
  font-family: "righteous";
  color: rgba(255, 255, 255, 0.733);
  font-size: 0.8em;
  letter-spacing: 0.05em;
  height: 22%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.spotlight .spotlight__block-two .follow-button {
  position: absolute;
  top: 0em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2.2em;
  width: 10em;
  border-radius: 5em;
  background-color: #151515;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
  font-family: "righteous";
  font-size: 6pt;
  border: 1px solid rgba(255, 255, 255, 0.214);
  color: white;
  letter-spacing: 0.07em;
  z-index: 6;
  cursor: pointer;
}

.spotlight .spotlight__block-two .follow-button:active {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  height: 2em;
  width: 9.8em;
}
/*# sourceMappingURL=Spotlight.css.map */