@import url("https://fonts.googleapis.com/css?family=Antic+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

@mixin flex-centered($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: center;
}

.spotlight {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    @include flex-centered(column);
    // border-radius: .3em;
    border: 1px solid rgba(255, 255, 255, 0.199);

    .spotlight__three-dots {
        position: absolute;
        z-index: 3;
        top: 0.5em;
        right: 0.4em;
        cursor: pointer;
        @include flex-centered(row);

        .dot {
            position: relative;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.678);
            margin-left: 2px;
        }
    }
    .spotlight__drop-options {
        position: absolute;
        z-index: 5;
        top: 1.1em;
        right: 0.5em;
        padding: 0.2em;
        border-radius: 0.2em;
        background-color: rgb(10, 10, 10);
        cursor: pointer;

        .drop-options__log-out {
            cursor: pointer;
            position: relative;
            width: 9em;
            height: 2em;
            font-size: 0.7em;
            letter-spacing: 0.1em;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            background: rgba(255, 255, 255, 0.13);
            color: rgba(255, 255, 255, 0.795);
            @include flex-centered(column);

            &:hover {
                background: rgba(255, 255, 255, 0.178);
            }
            &:active {
                background: rgba(255, 255, 255, 0.205);
            }
        }
    }
    .spotlight__settings {
        position: absolute;
        z-index: 3;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.548);
        font-size: 0.7em;
        left: 0.7em;
        top: 0.5em;
    }

    .spotlight__block-one {
        position: relative;
        z-index: 1;
        height: 78%;
        width: 100%;
        color: rgba(255, 255, 255, 0.904);
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        @include flex-centered(column);

        h2 {
            position: relative;
            top: 0em;
            font-size: 1.3em;
            color: "lightgrey";
            font-family: "righteous";
        }
        $content-margin: 0.4rem;
        .block-one__img-wrapper {
            position: relative;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            background-color: white;
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
            margin-bottom: $content-margin;
            .crown {
                position: absolute;
                top: 0em;
                right: 50%;
                transform: translate(50%, -85%);
                font-size: 1.5em;
                color: gold;
            }
        }
        .block-one__username {
            font-size: 1.1em;

        }
        .block-one__select-a-user {
            position: absolute;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            top: 4em;
            bottom: 3px;
        }
        .block-one__address-gender {
            font-size: 0.7rem;
            font-family: "antic slab";
            margin-bottom: 4px;
        }
        .block-one__handles-container {
            position: relative;
            @include flex-centered(row);
            justify-content: space-evenly;
            width: auto;
            height: 0.4em;
            margin-top: 5px;
            margin-bottom: 5px;

            .icon {
                color: white;
                font-size: 0.7rem;
                margin: 0em 0.4rem;
                cursor: pointer;
            }
            .fa-facebook-f {
                color: blue;
            }
            .fa-instagram {
                color: purple;
            }
            .fa-soundcloud {
                color: orange;
            }
            .fa-youtube {
                color: red;
            }

            .active-handle {
                opacity: 0.6;
            }
        }
        .block-one__blurb {
            position: relative;
            background: transparent;
            resize: none;
            font-family: "permanent marker";
            color: rgba(255, 248, 248, 0.824);
            text-align: center;
            font-size: 0.8em;
            line-height: 1.1em;
            width: 70%;
            height: 3em;
            cursor: pointer;
            border: none;
            border: 1px dotted rgba(255, 255, 255, 0);
            margin-top: 10px;
            margin-block-end: 0em;
            &:focus {
                cursor: text;
                border: 1px dotted rgba(255, 255, 255, 0.24);
            }
            &:focus::placeholder {
                color: transparent;
            }
        }
    }
    .spotlight__block-two {
        position: relative;
        background-color: rgba(255, 255, 255, 0.075);
        font-family: "righteous";
        color: rgba(255, 255, 255, 0.733);
        font-size: 0.8em;
        letter-spacing: 0.05em;
        height: 22%;
        width: 100%;
        @include flex-centered(row);
        justify-content: space-evenly;

        .follow-button {
            position: absolute;
            top: 0em;
            transform: translateY(-50%);
            height: 2.2em;
            width: 10em;
            border-radius: 5em;
            background-color: rgb(21, 21, 21);
            box-shadow: 2px 2px 2px black;
            font-family: "righteous";
            font-size: 6pt;
            border: 1px solid rgba(255, 255, 255, 0.214);
            color: white;
            letter-spacing: 0.07em;
            z-index: 6;
            cursor: pointer;

            &:active {
                box-shadow: 0px 0px 5px black;
                height: 2em;
                width: 9.8em;
            }
        }
    }
}
