#uploadContainer {
    /* margin-right: 30px; */
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: .04em solid rgb(61, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


#uploadButtonContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#uploadButtonContainer:hover {
    opacity: 1;
    cursor: pointer;

}

#uploadButton {
    position: absolute;
    top: 54%;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.722);
    .camera-icon {
        font-size: 12px;
    }
}

#uploadButton:hover {
    background-color: rgba(0, 0, 0, 0.859);
}