.Slider input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



.Slider input[type='range'] {
  position: absolute;
  left: -2em;
  width: 10.2em;
  height: .2em;
  transform: rotate(-90deg);
  /* overflow: hidden; */
  cursor: pointer;
}
.Slider input[type='range'],
.Slider input[type='range']::-webkit-slider-runnable-track,
.Slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.Slider input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: .6em;
  border-radius: 100em;
  background: rgb(233, 233, 233);
}
.Slider input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 2em;
  width: .7em;
  margin-top: -.75em;
  background: rgb(0, 0, 0);
  border: 2px solid white;
}
