.register-container {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  width: 15em;
  padding: 1.8em 3em 1.8em 3em;
  background-color: rgba(0, 0, 0, 0.685);
  border: 0.09em solid rgba(255, 255, 255, 0.658);
  border-radius: 0.5em;
}

.register-container > h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
  color: #e9e9e9;
  letter-spacing: 0.05em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.register-container input {
  border: 1px solid #9a9a9a;
  height: 35px;
  width: 90%;
  border-radius: 0.2em;
  background-color: rgba(0, 0, 0, 0.164);
  padding-left: 10px;
  color: white;
  margin: 0.5em;
}

.register-container > button {
  margin: 0.5em;
  border: 1px solid white;
  color: white;
  height: 38px;
  width: calc(90% + 13px);
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.315);
  opacity: 0.4;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: not-allowed;
}

.register-container > .reg-valid {
  opacity: 0.6;
  cursor: pointer;
}

.register-container > .reg-valid:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register-container > .reg-valid:active,
.register-container > .reg-valid:focus {
  opacity: 1;
  cursor: pointer;
}

.reg-invalid {
  border: 1px solid #9a9a9a;
  color: #9a9a9a;
  height: 38px;
  width: 213px;
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.315);
  opacity: 0.5;
}

#Username:focus {
  outline: none;
}

#Password:focus {
  outline: none;
}

#register {
  position: relative;
  bottom: 1px;
  background-color: rgba(0, 255, 255, 0);
  border: none;
  color: rgba(255, 255, 255, 0.493);
}

#register:hover,
#forgotPassword:hover {
  color: #cdcdcd;
}

#register:active,
#forgotPassword:active {
  color: #e4e4e4;
}

#forgotPassword {
  position: relative;
  bottom: 1px;
  padding-left: 10px;
  background-color: rgba(0, 255, 255, 0);
  border: none;
  color: rgba(255, 255, 255, 0.493);
}

.BottomButtons {
  margin-top: 8px;
  color: #717171;
}

@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#SignInSpinnerContainer {
  position: relative;
  top: 35px;
}

.BadInput {
  border: 1px solid red;
}

#Username-badInput {
  display: none;
  outline: 1px solid #750303;
  height: 35px;
  width: 200px;
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.164);
  padding-left: 10px;
  color: white;
}

#Username-badInput:focus {
  outline: none;
}

#Username-bad {
  outline: 1px solid #750303;
}

#Password-bad {
  outline: 1px solid #750303;
}

#Password-BadInput {
  border: 1px solid #750303;
  height: 35px;
  width: 200px;
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.164);
  padding-left: 10px;
  color: white;
  margin: 10px;
}

#Password-BadInput:focus {
  outline: none;
}

#GoBack {
  position: relative;
  bottom: 1px;
  padding-left: 10px;
  background-color: rgba(0, 255, 255, 0);
  border: none;
  color: rgba(255, 255, 255, 0.493);
}

#GoBack:hover {
  color: #c2c2c2;
  border-color: #c2c2c2;
}

#GoBack:active {
  color: #dddddd;
  border-color: #dfdfdf;
}

#reg-dot-spinner {
  position: absolute;
  top: 8.7em;
  z-index: 999;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #e2e2e2;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/*# sourceMappingURL=Register.css.map */