@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

@mixin flex-centered($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
$border-color: rgb(206, 206, 206);
$edges: 0.3em;

.commenter-wrapper {
    width: 100%;
    pointer-events: painted;
}
.header {
    position: relative;
    background-color: inherit;
    border-radius: $edges $edges 0em 0em;
    background-color: rgba(255, 255, 255, 0.829);
    border-bottom: 1px solid rgb(206, 206, 206);
    cursor: pointer;
    height: 1.5em;
    &:hover > .minimize {
        color: black;
        cursor: pointer;
    }
    .minimize {
        position: absolute;
        color: rgba(0, 0, 0, 0.468);
        left: 0.7em;
        top: 0.3em;
        font-size: 0.8em;
    }
    .show {
        opacity: 1;
        cursor: pointer;
        transition: all 0.1s ease-in;
    }
    .hide {
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        transition: all 0.1s ease-in;
    }
}

.commenter-body {
    position: relative;
    width: 100%;
    height: 11em;
    border-radius: 0em 0em $edges $edges;
    background-color: rgba(255, 255, 255, 0.829);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s ease-in;

    .comments-and-likes {
        position: relative;
        width: 100%;
        animation: fade-in 0.3s ease-in 0.3s forwards;
        opacity: 0;

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    .select-a-post {
        position: absolute;
        display: inline-block;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        color: rgba(0, 0, 0, 0.603);
        font-size: 1.3em;
        top: 1.7em;
        transition: all 0.1s ease-out;
    }
    .hidden {
        color: rgba(75, 75, 75, 0);
        transition: all 0.1s ease-out;
        pointer-events: none;
    }

    .post-comment {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-sizing: content-box;
        padding: 0.5rem 0rem 0.5rem 0rem;
        border-top: 1px solid $border-color;
        width: 100%;
        .img-wrapper {
            @include flex-centered(column);
            position: relative;
            left: 0.5rem;
            height: 1.7em;
            width: 1.7em;
            border-radius: 50%;

            img {
                background: inherit;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        input {
            resize: none;
        }
        .comment-input {
            position: relative;
            background-color: rgba(0, 0, 0, 0.055);
            width: 55%;
            padding: 0.6rem 0.2rem 0.5rem 0.8rem;
            font-size: 0.7rem;
            border-radius: 2rem;
            border: none;
            vertical-align: middle;
            resize: none;
            min-height: 0.9rem;
            left: 0.3rem;

            &:focus {
                outline: none;
            }
        }
        button {
            height: 2.8em;
            background-color: transparent;
            border-radius: 1em;
            border: none;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            letter-spacing: 0.1rem;
            font-size: 0.7rem;
            color: black;
            ;
            //  text-shadow: 1.2px 1.2px rgb(207, 207, 207);
            &:hover {
                background-color: rgba(0, 0, 0, 0.034);
            }
            &:active, &:focus {
                background-color: rgba(0, 0, 0, 0.075);
            }

        }
        .disabled {
            color: rgb(109, 109, 109);
            &:hover {
                background-color: transparent;
            }
            cursor: not-allowed;
        }
    }
}

.expanded {
    height: 20em;
    transition: all 0.4s ease-in-out;
}
