@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alike+Angular|Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
.Rappers-Container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 3.4em;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-width: 55em;
  padding-bottom: 5em;
}

.Rappers-Container::-webkit-scrollbar {
  width: 0.35em;
}

.Rappers-Container::-webkit-scrollbar-thumb {
  background: #888;
}

.Rappers {
  position: relative;
  width: auto;
  height: auto;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  margin-right: 17px;
  /* right: 20px; */
}

.Winners-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  height: 39em;
  width: 250px;
  display: inline-block;
}

.headerDetail {
  /* border-left: 1px solid rgba(121, 121, 121, 0.315); */
  height: 100%;
  width: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
}

/* #right-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.514);

} */
.rapperLoading {
  /* direction: rtl; */
  margin-bottom: 5px;
  height: 60px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.301);
  font-family: "Rock Salt", cursive;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.619);
  border: 1px solid rgba(255, 255, 255, 0.496);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.913);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#table-header {
  background-color: rgba(0, 0, 0, 0.76);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* direction: rtl; */
  /* margin-bottom: 5px; */
  height: 55px;
  width: 600px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.879);
  background-color: rgba(0, 0, 0, 0.76);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.496); */
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.267);
  border-bottom: 2px solid rgba(255, 255, 255, 0.555);
  /* border-top: 2px solid rgba(255, 255, 255, 0.555); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#no-rappers {
  position: relative;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#no-rappers-text {
  position: absolute;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* border: 1px solid pink; */
  font-size: 1.4em;
  top: 5em;
  letter-spacing: 0.06em;
  background-color: rgba(32, 16, 2, 0.548);
  color: rgba(255, 255, 255, 0.692);
  padding: 0.5em;
  border-radius: 0.2em;
  -webkit-animation: fade-in 1.2s;
          animation: fade-in 1.2s;
}

#load-more {
  position: relative;
  height: 3.1em;
  border: 1px solid rgba(255, 255, 255, 0.267);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.678);
  color: rgba(252, 252, 252, 0.541);
  font-family: "noto sans", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fade-in 0.1s ease-in;
          animation: fade-in 0.1s ease-in;
}

#load-more:hover {
  border-color: rgba(255, 255, 255, 0.466);
  color: rgba(252, 252, 252, 0.651);
  cursor: pointer;
}

#load-more:active {
  border-color: rgba(255, 255, 255, 0.616);
  color: rgba(252, 252, 252, 0.767);
  cursor: pointer;
}

.fa-refresh {
  -webkit-animation: none;
          animation: none;
}

.fa-refresh:hover {
  -webkit-animation: fa-spin 2s linear infinite;
          animation: fa-spin 2s linear infinite;
}

#load-more-icon {
  position: absolute;
  left: 5px;
}

@media only screen and (max-width: 45em) {
  .Winners-container {
    display: none;
  }
}

#rappers-loader {
  margin-top: 10em;
}
/*# sourceMappingURL=Rappers.css.map */