@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.landing {
  color: rgba(255, 255, 255, 0.836);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.landing .landing__hor-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landing .landing__letter-box-top {
  width: 100vw;
  height: 4em;
  background: rgba(0, 0, 0, 0.884);
  position: fixed;
  z-index: 100;
  top: 0em;
}

.landing .landing__letter-box-bottom {
  width: 100vw;
  height: 4em;
  background: rgba(0, 0, 0, 0.884);
  position: fixed;
  z-index: 100;
  bottom: 0em;
}

.landing .landing__auth-frame {
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, 0.918);
  border: 1px solid rgba(255, 255, 255, 0.342);
  border-radius: 0.8em;
  padding: 3em 1em 2.5em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing .landing__auth-frame .auth-frame__logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3em;
  letter-spacing: 0.04em;
  margin-bottom: 0.2em;
}

.landing .landing__auth-frame .auth-frame__sub-text {
  width: 65%;
  text-align: center;
  font-family: "permanent marker";
  line-height: 18px;
  font-size: 0.9em;
}

.landing .landing__auth-frame .auth-frame__login-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin-top: 1em;
}

.landing .landing__auth-frame .auth-frame__login-container input {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.575);
  height: 2.2em;
  width: 100%;
  margin-top: .8em;
  color: rgba(255, 255, 255, 0.877);
  font-size: .8em;
}

.landing .landing__auth-frame .auth-frame__login-container input:focus {
  outline: none;
}

.landing .landing__auth-frame .auth-frame__login-container .login-container__forgot-pass-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.landing .landing__auth-frame .auth-frame__login-container .login-container__forgot-pass-container .forgot-pass-container__button {
  background: transparent;
  color: rgba(255, 255, 255, 0.616);
  padding-top: 6px;
  text-align: right;
  border: none;
  font-size: .3em;
}

.landing .landing__auth-frame .auth-frame__login-button {
  width: 60%;
  font-size: 10pt;
  padding: 0.6em;
  border-radius: 0em;
  background: transparent;
  color: rgba(255, 255, 255, 0.74);
  border: 1px solid rgba(255, 255, 255, 0.575);
  margin-top: 1em;
}

.landing .landing__auth-frame .auth-frame__or {
  margin: .5em;
  font-size: 12px;
}

.landing .landing__auth-frame .auth-frame__facebook-login {
  width: 60%;
  font-size: 10pt;
  padding: 0.6em;
  border-radius: 0em;
  background: rgba(0, 102, 255, 0.555);
  color: rgba(255, 255, 255, 0.726);
  border: none;
  -webkit-text-emphasis-style: bold;
          text-emphasis-style: bold;
  font-family: Helvetica, Arial, sans-serif;
}

.landing .landing__auth-frame .auth-frame__facebook-login .facebook-login__icon {
  letter-spacing: 7px;
}

.landing .landing__auth-frame .auth-frame__dont-have {
  margin-top: .8em;
  font-size: 9pt;
  color: rgba(255, 255, 255, 0.589);
}

.landing .landing__auth-frame .auth-frame__dont-have .dont-have__sign-up {
  display: inline-block;
  color: rgba(255, 255, 255, 0.938);
  cursor: pointer;
}

.landing__video {
  position: fixed;
  z-index: 1;
  display: block;
}

.landing__video-overlay {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.466);
}
/*# sourceMappingURL=Landing.css.map */