* {
  /* border: 1px solid white; */
}

.App {
  /* position: absolute;
  height: 100%;
  width: 100%; */
}

.ReactAudioPlayer {
  z-index: 0;
}

.Circle {
  border-radius: 50%;
}

.AlignCenterVerticle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-content: center;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input {
  &:focus {
    outline: none;
  }
}

#yoxOverlay {
  z-index: 0;
  position: fixed;
  background: rgba(18, 10, 0, 0.418);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}