.splash-navbar {
     position: absolute;
     z-index: 5;
     top: 0em;
     height: 4.5em;
     width: 100vw;
     background-color: rgba(0, 0, 0, 0.822);

     display: flex;
     align-items: center;
     justify-content: space-between;

     .logo {
          position: relative;
          z-index: 2;
          font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
          letter-spacing: 0.05em;
          font-size: 2.8em;
          left: 1.5em;
     }

     .sign-in {
          position: relative;
          z-index: 1;
          right: 3em;
          display: flex;
          align-items: center;
          //   padding-top: .4em;
          input {
               background: rgba(0, 0, 0, 0);
               border: 1px solid rgba(255, 255, 255, 0.575);
               border-radius: 5em;
               height: 2.2em;
               margin-right: 1.4em;
               color: rgba(255, 255, 255, 0.877);
               padding-left: 1.3em;
               padding-bottom: .2em;
               &:focus {
                    outline: none;
               }
          }
          .log-in {
               color: rgba(255, 255, 255, 0.664);
               background: rgba(0, 0, 0, 0);
               border: 1px solid rgba(255, 255, 255, 0.603);
               border-radius: 5em;
               height: 2.8em;
               width: 7em;
          }
          .pass-input-wrapper {
               position: relative;
               .forgot-password {
                    position: absolute;
                    cursor: pointer;
                    left: 1.1em;
                    bottom: -1.6em;
                    font-size: 7pt;
                    color: rgba(255, 255, 255, 0.342);

                    &:hover {
                         color: rgba(255, 255, 255, 0.575);
                    }
                    &:active {
                         color: rgba(255, 255, 255, 0.767);
                    }
               }
          }
     }
}
