@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
.commenter-wrapper {
  width: 100%;
  pointer-events: painted;
}

.header {
  position: relative;
  background-color: inherit;
  border-radius: 0.3em 0.3em 0em 0em;
  background-color: rgba(255, 255, 255, 0.829);
  border-bottom: 1px solid #cecece;
  cursor: pointer;
  height: 1.5em;
}

.header:hover > .minimize {
  color: black;
  cursor: pointer;
}

.header .minimize {
  position: absolute;
  color: rgba(0, 0, 0, 0.468);
  left: 0.7em;
  top: 0.3em;
  font-size: 0.8em;
}

.header .show {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.header .hide {
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.commenter-body {
  position: relative;
  width: 100%;
  height: 11em;
  border-radius: 0em 0em 0.3em 0.3em;
  background-color: rgba(255, 255, 255, 0.829);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.commenter-body .comments-and-likes {
  position: relative;
  width: 100%;
  -webkit-animation: fade-in 0.3s ease-in 0.3s forwards;
          animation: fade-in 0.3s ease-in 0.3s forwards;
  opacity: 0;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.commenter-body .select-a-post {
  position: absolute;
  display: inline-block;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(0, 0, 0, 0.603);
  font-size: 1.3em;
  top: 1.7em;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.commenter-body .hidden {
  color: rgba(75, 75, 75, 0);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.commenter-body .post-comment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.5rem 0rem 0.5rem 0rem;
  border-top: 1px solid #cecece;
  width: 100%;
}

.commenter-body .post-comment .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  position: relative;
  left: 0.5rem;
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
}

.commenter-body .post-comment .img-wrapper img {
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.commenter-body .post-comment input {
  resize: none;
}

.commenter-body .post-comment .comment-input {
  position: relative;
  background-color: rgba(0, 0, 0, 0.055);
  width: 55%;
  padding: 0.6rem 0.2rem 0.5rem 0.8rem;
  font-size: 0.7rem;
  border-radius: 2rem;
  border: none;
  vertical-align: middle;
  resize: none;
  min-height: 0.9rem;
  left: 0.3rem;
}

.commenter-body .post-comment .comment-input:focus {
  outline: none;
}

.commenter-body .post-comment button {
  height: 2.8em;
  background-color: transparent;
  border-radius: 1em;
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  color: black;
}

.commenter-body .post-comment button:hover {
  background-color: rgba(0, 0, 0, 0.034);
}

.commenter-body .post-comment button:active {
  background-color: rgba(0, 0, 0, 0.075);
}

.commenter-body .post-comment .disabled {
  color: #6d6d6d;
}

.commenter-body .post-comment .disabled:hover {
  background-color: transparent;
}

.expanded {
  height: 20em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/*# sourceMappingURL=Commenter.css.map */