$border-color: rgb(206, 206, 206);

@mixin flex-centered($direction) {
     display: flex;
     flex-direction: $direction;
     align-items: center;
     justify-content: center;
}
.likes {
     position: relative;
     min-height: 2.4em;
     border-top: 1px solid $border-color;
     @include flex-centered(row);
     width: 100%;
     font-family: "permanent marker";

     .vote-icon-container {
          width: 18%;
          height: 80%;
          display: flex;
          border-right: 1px solid rgb(206, 206, 206);
          @include flex-centered(column);
          cursor: pointer;

          .likes-icon {
               font-size: 1.1em;
               color: rgb(150, 150, 150);

          }
          .lit-up {
               color: orange;
          }
     }

     .total-score {
          @include flex-centered(row);
          border-right: 1px solid $border-color;
          border-left: 1px solid $border-color;
          color: rgba(0, 0, 0, 0.774);
          height: 80%;
          width: 49%;
          font-size: 0.8em;
          letter-spacing: 0.08em;
          position: relative;
          cursor: pointer;
     }
     .fans {
          font-size: 0.9em;
          color: rgba(0, 0, 0, 0.774);
          letter-spacing: 0.06em;
          height: 80%;
          width: 33%;
          padding-right: 0.2em;
          cursor: pointer;
          @include flex-centered(column);
     }
}
